:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'starwarsfont';
  src: url('./fonts/Starjedi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'starwarsfont';
  overflow-x: hidden;
}

@media screen and (max-width: 800px) {
  :root {
    font: 14px / 1 sans-serif;
  }
}

@media screen and (max-width: 400px) {
  :root {
    font: 12px / 1 sans-serif;
  }
}
