.battlePage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0rem 3rem 0rem 3rem;
  background-image: url(../images/SpaceBackground.jpg);
}

.battlePage h1 {
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
  text-shadow: 1px 0 0 rgb(221, 221, 221), 0 -1px 0 rgb(221, 221, 221),
    0 1px 0 rgb(221, 221, 221), -1px 0 0 rgb(221, 221, 221);
}

.battlePageContent {
  border: solid silver;
  margin: 2rem 1rem 2rem 1rem;
  padding: 1rem 1rem 2rem 1rem;
  background-color: rgba(69, 177, 240, 0.8);

  nav {
    display: flex;
    i {
      color: black;
    }

    i:hover {
      color: white;
    }
  }
}

.battlePageContent nav > * + *::before {
  content: '>';
  margin: 0rem 0.5rem 0rem 0.5rem;

  font-family: 'Inika', serif;
}

.battlePageContent nav > * + * + *::before {
  content: '>';
  margin: 0rem 0.5rem 0rem 0.5rem;

  font-family: 'Inika', serif;
}

.breadCrumbs {
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 1rem;
  padding: 0;
}

.breadCrumbs:hover {
  color: white;
}

.breadCrumbsCurrent {
  text-decoration: none;
  border: none;
  background: none;
  font-size: 1rem;
  padding: 0;
}

.uploadedImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;

  img {
    max-width: 100%;
    max-height: 100%;
    border: solid silver;
  }
}

.battleDataContainerBackground {
  background-color: rgb(198, 198, 198, 0.8);
  margin-top: 2rem;
  padding: 0.4rem;
}

.battleDataContainer {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  color: rgb(29, 29, 29);

  div {
    min-height: 100px;
    min-width: 160px;
    border-left: solid 0.05rem rgb(45, 45, 45);
    border-right: solid 0.05rem rgb(45, 45, 45);
    flex: 1;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    p {
      color: rgb(221, 221, 221);
      text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
      padding-bottom: 0.7rem;
    }
  }
}

#com1 {
  color: rgba(0, 0, 255);
}

#com2 {
  color: rgba(255, 0, 0);
}

.descriptionAndCommentsSection {
  padding: 1rem;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 2rem;

  h2 {
    margin: 1rem;
  }

  button {
    margin-top: 1rem;
    cursor: pointer;
    padding: 0.2rem;
    font-size: 0.8rem;
    cursor: pointer;
    border: solid thin black;
    border-radius: 0.3rem;
  }
}

.battleDescriptionContainer {
  border: solid 0.4rem rgb(89, 89, 89);
  background-color: rgb(198, 198, 198, 0.8);
  padding: 1rem;
}

#battleDescriptionHeading {
  font-family: 'starwarsfont';
  color: rgb(221, 221, 221);
  font-size: 1rem;
  padding-bottom: 1rem;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.deleteAndEditButtons {
  display: flex;
  justify-content: center;
  margin: 4rem 0rem 4rem 0rem;

  button {
    margin: 1rem;
    text-decoration: none;
    padding: 0.5rem;
    border: none;
    background-color: rgb(198, 198, 198);
  }

  button:hover {
    background-color: rgb(238, 236, 236);
  }
}

.uploadCommentContainer {
  background-color: rgb(22, 69, 97, 0.8);
  padding: 1rem;
}

.userImage {
  display: flex;
  align-items: center;
  p {
    margin-left: 1rem;
  }
  img {
    width: 70px;
    height: 70px;
  }
}

.theForm {
  margin-top: 1rem;

  p {
    margin-top: 1rem;
  }
}

.formInput textarea {
  font-size: 1rem;
  border: thin solid var(--purple-1);
  margin-right: 5rem;
  border-radius: 0.2rem;
  width: 100%;
  height: 110px;
}

.commentSubmitContainer {
  display: flex;
  justify-content: end;

  input[type='submit'] {
    padding: 0.6rem;
    margin: 1rem 1rem 0rem 1rem;
    cursor: pointer;
    border: solid thin rgb(22, 69, 97, 0.8);
    text-decoration: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    background-color: rgb(198, 198, 198);
  }

  input[type='submit']:hover {
    background-color: rgb(238, 236, 236);
  }
}

.commentsContainer {
  border-top: solid 0.1rem black;
  margin-top: 3rem;
}

.commentsWrapper {
  margin-top: 3rem;
}

#commentDateTime {
  font-size: 1rem;
  color: rgb(56, 57, 57);
}

// @media screen and (max-width: 800px) {
//   .firstSection {
//     flex-direction: column;
//   }
// }

// @media screen and (max-width: 400px) {
//   .erasOptions {
//     padding: 0.5rem 1.5rem 1rem 1.5rem;
//   }
// }
