.erasOptions {
  border: solid silver;
  margin: 2rem 1rem 2rem 1rem;
  padding: 1rem 3rem 2rem 3rem;
  background-color: rgba(69, 177, 240, 0.8);
}

.erasOptions p {
  margin-top: 1rem;
}

.eras {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('https://starwarsblog.starwars.com/wp-content/uploads/2020/04/star-wars-backgrounds-25.jpg');
}

.eras header {
  color: white;
}

#commentDateTime {
  font-size: 1rem;
  color: rgb(56, 57, 57);
}

.eras h1 {
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
}

.firstSection {
  display: flex;
  // border: solid pink;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.battleInfo {
  display: flex;
  flex-direction: column;
  // border: solid orange;
  color: rgba(255, 255, 255, 0.851);
  // width: 50%;
  height: 300px;
  // margin: 1rem;
  flex-wrap: wrap;
  font-size: 1.1rem;
  justify-content: center;
  flex: 1;
}

.insideBattleInfo {
  height: 100%;
  background-color: rgb(22, 69, 97, 0.7);
  width: fit-content;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.insideBattleInfo p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.battleImagesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // border: solid purple;

  margin-top: 2rem;
  margin-bottom: 7rem;
}

// .battleImages {
//   width: 250px;
//   height: 150px;
//   background-size: cover;
//   margin: 0.5rem;
//   border: solid silver;
// }

// .newCommentContainer {
//   border: solid red;
//   padding: 0;
//   margin: 0;
// }

.formInput textarea {
  font-size: 1rem;
  border: thin solid var(--purple-1);
  margin-right: 5rem;
  border-radius: 0.2rem;
  width: 100%;
  height: 110px;
}

span {
  color: black;
}

.battleDescription {
  border: solid 0.1rem black;
  padding: 1rem;
}

.battleImagesShell {
  width: 350px;
  height: 250px;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: solid red;
  // height: 300px;
  width: 350px;

  // flex: 1;
  img {
    max-width: 100%;
    max-height: 100%;
    border: solid silver;
    // cursor: pointer;
  }

  // img:hover {
  //   border: solid red;
  // }
}

.imageDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: solid red;
  height: 300px;
  flex: 1;

  img {
    max-width: 100%;
    max-height: 100%;
    border: solid silver;
  }
}

// .imageDiv {
//   // border: solid silver;
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
//   // overflow: hidden;
//   width: 300px;
//   height: 200px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: relative;
//   border: solid red;
//   overflow: hidden;
//   img {
//     top: 0;
//     left: 0;
//     width: 100%;
//     // width: 100%;
//   }
// }

.userImage {
  display: flex;
  align-items: center;
  p {
    margin-left: 1rem;
  }
  img {
    width: 70px;
    height: 70px;
  }
}

.myContainer {
  background-color: rgb(22, 69, 97, 0.8);
  padding: 2rem 1rem 2rem 1rem;
}

.myContainerThree {
  margin-top: 3rem;
}

.myContainerTwo {
  display: flex;
  justify-content: end;

  input[type='submit'] {
    padding: 1rem;
    margin: 1rem 1rem 0rem 1rem;
    cursor: pointer;
  }
}

.secondSection {
  padding: 1rem;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;

  font-size: 1.5rem;
  margin-top: 2rem;

  h2 {
    margin: 1rem;
  }
}

.commentSection {
  border-top: solid 0.1rem black;
  margin-top: 3rem;
}

@media screen and (max-width: 800px) {
  .firstSection {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .erasOptions {
    padding: 0.5rem 1.5rem 1rem 1.5rem;
  }
}
