.battlesPage {
  display: flex;
  flex-direction: column;
  padding: 0rem 3rem 0rem 3rem;
  min-height: 100vh;
  background-image: url(../images/SpaceBackground.jpg);
}

.battlesPage nav {
  i:hover {
    color: white;
  }
}

.battlesPageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: solid silver;
  margin: 2rem 1rem 2rem 1rem;
  padding: 1rem 0rem 2rem 0rem;
  background-color: rgba(69, 177, 240, 0.8);
}

.battlesPageContent {
  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}

.navContainer {
  display: flex;
  width: 100%;
  padding-left: 2rem;
}

.searchContainer {
  width: 370px;
}

.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
  font-size: 1rem;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchGoButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.dropDownSort {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;

  p {
    margin-right: 0.6rem;
  }

  select {
    cursor: pointer;
    padding: 0.2rem 0.1rem 0.2rem 0.1rem;
    border: none;
    font-size: 0.9rem;
  }
}

.battlesOptionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  p {
    text-align: center;
  }
}

.createBattleContainer {
  transition: transform 0.5s ease;
}

.createBattleContainer:hover {
  filter: brightness(100%);
  transform: scale(1.09);
}

.createBattle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: silver;
  margin: 2rem 0.5rem 0.5rem 0.5rem;
  width: 290px;
  height: 150px;
  color: white;
  cursor: pointer;
  border: 0;
  background-size: cover;
  border: solid black;
}

.createPlusSymbol {
  position: relative;
  border-width: 2px;
  border-style: solid;
  height: 65px;
  width: 65px;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.battleImageContainer {
  transition: transform 0.5s ease;

  img {
    margin: 2rem 0.5rem 0.5rem 0.5rem;
    width: 290px;
    height: 150px;
    color: white;
    cursor: pointer;
    border: 0;
    background-size: cover;
    border: solid silver;
    object-fit: cover;
  }

  p {
    color: black;
    text-shadow: 1px 0 0 rgb(221, 221, 221), 0 -1px 0 rgb(221, 221, 221),
      0 1px 0 rgb(221, 221, 221), -1px 0 0 rgb(221, 221, 221);
    font-size: 1.1rem;
  }

  p + p {
    font-size: 1rem;
  }
}

.battleImageContainer:hover {
  filter: brightness(100%);
  transform: scale(1.09);
}
