.createBattle {
  display: flex;
  flex-direction: column;
  padding: 0rem 3rem 0rem 3rem;
  min-height: 100vh;
  background-image: url(../images/SpaceBackground.jpg);
}

.createBattle header {
  color: white;
}

.createBattle h1 {
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
}

.createBattleContainer {
  border: solid silver;
  margin: 2rem 1rem 2rem 1rem;
  padding: 1rem 3rem 2rem 3rem;
  background-color: rgba(69, 177, 240, 0.8);

  nav {
    display: flex;
    margin: 1rem 0.5rem 1rem 0rem;

    i {
      margin-right: 0.5rem;
      color: black;
    }

    i:hover {
      color: white;
    }
  }
}

.createBattleContainer nav > * + *::before {
  content: '>';
  margin-right: 0.5rem;
  font-family: 'Inika', serif;
}

.createBattleContainer p {
  margin-top: 1rem;
}

.formInput {
  display: flex;
  flex-direction: column;

  div {
    margin: 0rem;
    display: flex;
    align-items: center;

    label {
      margin-top: 0rem;
      margin-left: 1rem;
    }

    input {
      cursor: pointer;
    }
  }
}

.formInput input[type='text'],
.formInput input[type='file'],
.formInput input[type='radio'],
.formInput textarea {
  font-size: 1rem;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

.formInput input[type='text'],
.formInput textarea {
  border: thin solid var(--purple-1);
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.formInput {
  label {
    margin-top: 1rem;
  }

  button {
    width: 60px;

    cursor: pointer;
  }
}

.combatantsContainer {
  flex-wrap: wrap;
  padding-top: 0.5rem;
}

.theAddedCombatant1 {
  border: solid grey;
  border-radius: 0.3rem;
  padding: 0.2rem;
  background-color: rgba(0, 0, 255);

  p {
    margin: 0;
    padding-left: 0.1rem;
    padding-bottom: 0.2rem;
    color: white;
  }
}

.theAddedCombatant2 {
  border: solid grey;
  border-radius: 0.3rem;
  padding: 0.2rem;
  background-color: rgba(255, 0, 0);

  p {
    margin: 0;
    padding-left: 0.1rem;
    padding-bottom: 0.2rem;
    color: white;
  }
}

.theX {
  cursor: pointer;
  padding-left: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 0.9rem;
}

.droppedImage {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.fileDrop {
  border-radius: 0.3rem;
  background-color: white;
  padding: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.formSubmit input[type='submit'] {
  cursor: pointer;
  border-radius: 0.3rem;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: rgb(198, 198, 198);
}

.formSubmit input[type='submit']:hover {
  background-color: rgb(238, 236, 236);
}

.error {
  background-color: darkorange;
  color: white;
  padding: 1rem;
}
