.eras {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../images/JediArchiveLibrary.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.erasOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: solid silver;
  margin: 2rem;
  background-color: rgba(69, 177, 240, 0.9);
}

.erasOptions p {
  font-size: 1rem;
}

.erasOptionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  div {
    background-size: cover;
    border: solid silver;
    margin: 1rem;
    img {
      width: 350px;
      height: 200px;
    }
  }
  div:hover {
    border: solid #ffe81f;
  }
}

.erasAllContainer {
  div {
    background-size: cover;
    border: solid silver;
    margin: 1rem;
    img {
      width: 350px;
      height: 200px;
    }
  }
  div:hover {
    border: solid #ffe81f;
  }
}

.erasAllContainer {
  display: flex;
  justify-content: center;
}
