.erasPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0rem 3rem 0rem 3rem;
  background-image: url(../images/SpaceBackground.jpg);
}

.erasPageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid silver;
  margin: 2rem 1rem 2rem 1rem;
  background-color: rgba(69, 177, 240, 0.9);
}

.erasPageContent p {
  margin-top: 0.4rem;
  font-size: 1.1rem;
  text-shadow: 1px 0 0 rgb(221, 221, 221), 0 -1px 0 rgb(221, 221, 221),
    0 1px 0 rgb(221, 221, 221), -1px 0 0 rgb(221, 221, 221);
}

.erasOptionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.4rem;

  div {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    transition: transform 0.5s ease;
    height: 260px;
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 340px;
      height: 200px;
      border: solid silver;
    }

    p {
      text-align: center;
    }
  }

  div:hover {
    filter: brightness(100%);
    transform: scale(1.09);
  }
}
