@font-face {
  font-family: 'starwarsfont';
  src: url('../fonts/Starjedi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.jediArchivesIntro {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.battlesButton {
  animation: glow 2s infinite alternate;
  background-color: rgb(22, 69, 97);
  margin: 0;
  width: 270px;
  height: 395px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  text-align: center;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px rgb(0, 195, 255);
  }
  to {
    box-shadow: 0 0 10px 10px rgb(0, 195, 255);
  }
}

.battlesButton:hover {
  background-color: white;
  color: black;
}

body {
  margin: 0;
  background-image: url(../images/JediArchiveLibrary.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'starwarsfont';
}

.battlesButtonSignIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: glow 2s infinite alternate;
  background-color: rgb(22, 69, 97);
  width: 270px;
  height: 395px;
  text-align: center;
  color: white;
  font-size: 2rem;
  border: none;
  padding: 0rem 0.5rem 0rem 0.5rem;

  button {
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.3rem;
    margin: 0.5rem;
    font-size: 1rem;
    font-family: 'starwarsfont';
  }
}

.battlesButtonSignIn:hover {
  background-color: white;
  color: black;
}
