.jediArchivesIntro {
  min-height: 100vh;
  min-height: 100vh;
  padding: 0rem 3rem 0rem 3rem;
  background-image: url(../images/SpaceBackground.jpg);

  p {
    color: black;
  }
}

.archiveContainer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.battlesButton {
  background-color: rgba(69, 177, 240, 0.9);
  border-radius: 0.3rem;
  margin: 0;
  width: 370px;
  height: 495px;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;

  nav {
    display: flex;
    color: black;
    i:hover {
      color: white;
    }
  }

  nav a,
  nav h2 {
    font-size: 1.5rem;
    margin: 1rem 0.5rem 1rem 0;
  }

  nav > * + *::before {
    content: '>';
    margin-right: 0.5rem;
    font-family: 'Inika', serif;
  }
}

.formInput {
  display: flex;
  flex-direction: column;
}

.formInput .note {
  font-size: 0.9rem;
  opacity: 0.6;
}

.formInput input[type='text'],
.formInput input[type='tel'],
.formInput input[type='email'],
.formInput input[type='password'],
.formInput input[type='file'],
.formInput textarea {
  font-family: 'Inika', serif;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

.formInput input[type='text'],
.formInput input[type='tel'],
.formInput input[type='email'],
.formInput input[type='password'],
.formInput textarea {
  border: thin solid var(--purple-1);
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.jediArchivesIntro input[type='submit'] {
  cursor: pointer;
  border-radius: 0.3rem;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: rgb(198, 198, 198);
}

.jediArchivesIntro input[type='submit']:hover {
  background-color: rgb(238, 236, 236);
}
